button {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue",
        Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.btn {
    cursor: pointer;
    padding: 0 30px;
    vertical-align: middle;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    text-decoration: none;
    font-weight: -webkit-transition;
    all: 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.button-container {
    padding-top: 20px;
    width: 100%;
    margin: 0 auto;
    max-width: 300px;
}

.clear {
    background-color: transparent;
    color: #222;
    border: 1px solid #e5e5e5;
    float: right;
}

.clear:hover {
    background-color: gray;
    color: #222;
    border-color: #b2b2b2;
}

.clear:focus {
    outline: none;
}

.form-container {
    padding: 0px 20px;

}

.left {
    text-align: left;
}

.submit {
    float: left;
    background-color: #1976d2;
    color: #fff;
    border: 1px solid transparent;
}

.submit:hover,
.submit:focus {
    background-color: #115293;
    color: #fff;
    outline: none;
}