.search-option {
  height: 100%;
  font-size: 16px;
  vertical-align: middle;
  width: 100%;
  padding-left: 5px;
  color: #666;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: 0.2s ease-in-out;
  transition-property: color, background-color, border;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  flex: 1 1 0%;
  overflow: hidden;
}

.search-option:focus {
  outline: 0;
}

.search-option::placeholder {
  color: #bbb;
}
